@import '@styles/variable.scss';

.educationSection {
    position: relative;
    padding: 100px 0;

    &::after {
        background: $separatorColor;
        position: absolute;
        max-width: 1280px;
        height: 1px;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .subtitle {
        color: $primaryTextColor;
        letter-spacing: 2px;
        display: block;
        line-height: 14px;
        font-weight: $font-700;
        text-transform: uppercase;
        font-size: $font-14;
    }

    .educationDetails {
        background: $primaryGradient;
        display: flex;
        align-items: center;
        padding: 30px;
        box-shadow: $primaryShadow;
        border-radius: 10px;
        margin: 40px auto 0;
        width: 90%;

        .educationImage {
            max-width: 250px;
            height: auto;
            border-radius: 8px;
            transition: $secondaryTransition;
            overflow: hidden;

            > img {
                border-radius: 8px;
                transition: $secondaryTransition;
            }
        }

        .educationInfo {
            flex-grow: 2;
            padding-left: 30px;
            cursor: pointer;

            > a {
                > span {
                    padding: 2px 8px;
                    border-radius: 20px;
                    font-size: 14px;
                    background-color: $primaryTextColor;
                    color: $white;
                }

                > h4 {
                    margin-top: 10px;
                    font-size: $font-24;
                    color: $secondaryTextColor;

                    > i {
                        color: $primaryTextColor;
                        -webkit-text-stroke: 1px;
                        margin-left: 5px;
                        opacity: 0;
                        font-size: 0;
                        font-weight: $font-600;
                        transition: $secondaryTransition;
                    }
                }

                > h6 {
                    margin-top: 15px;
                    font-size: $font-20;
                    font-weight: $font-400;
                    margin-bottom: 10px;
                    line-height: 1.5;
                    color: $bodyColor;
                }

                &:hover {
                    > h4 {
                        color: $primaryTextColor;
                        > i {
                            opacity: 1;
                            font-size: $font-24;
                        }
                    }
                }
            }
        }
    }
}
