// Font sizes
$primaryFontSize: 18px;
$secondaryFontSize: 18px;
$tertiaryFontSize: 18px;

// line height
$primaryLineHeight: 1.5;
$secondaryLineHeight: 1.6;
$tertiaryLineHeight: 1.7;

// colors
$bodyColor: #3c3e41;
$textLight: #878787;


// transition
$primaryTransition: 0.3s;
$secondaryTransition: 0.4s;