@import '@styles/variable.scss';

.card {
    margin: 30px 0;
    cursor: pointer;

    .container {
        text-align: left;
        padding: 30px;
        position: relative;
        border-radius: 20px;
        background: $primaryGradient;
        box-shadow: $tertiaryShadow;
        z-index: 1;
        height: 100%;
        transition: $secondaryTransition all ease-in-out;
        display: inline-block;
        cursor: pointer;

        .image {
            display: block;
            overflow: hidden;
            border-radius: 10px;
            border: 1px solid $borderColor;
            position: relative;

            > img {
                width: 100%;
                transition: $secondaryTransition;
                height: 250px;
                object-fit: cover;
                min-height: 250px;
            }
        }

        .content {
            padding-top: 20px;
            > a {
                .blogDetails {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 10px;

                    .category {
                        min-height: 40px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;

                        > p {
                            color: $primaryTextColor;
                            font-weight: $font-600;
                            font-size: $font-12;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            display: block;
                        }
                    }
                }

                > h4 {
                    margin: 0;

                    transition: $secondaryTransition;
                    color: $secondaryTextColor;
                    font-weight: $font-600;
                    font-size: $font-24;
                    line-height: 34px;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    > i {
                        color: $primaryTextColor;
                        -webkit-text-stroke: 1px;
                        margin-left: 5px;
                        opacity: 0;
                        font-size: 0;
                        font-weight: $font-600;
                        transition: $secondaryTransition;
                    }
                }

                &:hover {
                    > h4 {
                        color: $primaryTextColor;

                        > i {
                            opacity: 1;
                            font-size: $font-24;
                        }
                    }
                }
            }
        }
    }
}
