.container {
    position: relative;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.7;

    p {
        margin: 10px;
        text-align: center;
    }

    img {
        width: 80px;
        height: 80px;
        display: inline-block;
    }
}

.canvasOverlay {
    position: absolute;
    top: 0;
    left: 0;
}
