@import '@styles/variable.scss';

.sectionSeparator {
    position: relative;
    padding: 50px 0;

    .subtitle {
        color: $primaryTextColor;
        letter-spacing: 2px;
        display: block;
        line-height: 14px;
        font-weight: $font-700;
        text-transform: uppercase;
        font-size: $font-14;
    }
}

.blogContainer {
    margin: 30px -25px 0 -25px;

    .category {
        min-height: 20px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .blogContainer {
        margin: 30px -15px 0 -15px;
    }
}

@media only screen and (max-width: 991px) {
    .blogContainer {
        margin: 10px -15px 0 -15px;
    }
}

@media only screen and (max-width: 767px) {
    .sectionSeparator {
        h2 {
            font-size: 50px;
        }
        .subtitle {
            font-size: $font-12;
        }

        .blogContainer {
            margin: 30px 0 0 0;
        }
    }
}
